@if (ViewData.ModelExplorer.Model == null)
{
    <text>@ViewData.ModelExplorer.Metadata.NullDisplayText</text>
}

@if (ViewData.TemplateInfo.TemplateDepth == 1)
{
    <table class="table table-bordered">
        <tbody>
            @foreach (var prop in ViewData.ModelExplorer.Properties.Where(p => !ViewData.TemplateInfo.Visited(p)))
            {
                if (prop.Metadata.IsComplexType)
                {
                    @Html.Display(prop.Metadata.PropertyName)
                }
                else
                {
                    <tr>
                        <td class="w-25">@Html.DisplayName(prop.Metadata.PropertyName)</td>
                        <td>@Html.Display(prop.Metadata.PropertyName)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    foreach (var prop in ViewData.ModelExplorer.Properties.Where(p => !ViewData.TemplateInfo.Visited(p)))
    {
        if (prop.Metadata.IsComplexType)
        {
            @Html.Display(prop.Metadata.PropertyName)
        }
        else
        {
            <tr>
                <td class="w-25">@Html.DisplayName(prop.Metadata.PropertyName)</td>
                <td>@Html.Display(prop.Metadata.PropertyName)</td>
            </tr>
        }
    }

}
