@using Demo.Web.Features.Users
@using Demo.Web.Framework.HtmlHelpers
@model Demo.Web.Features.Users.UserModel

@{
    ViewData["Title"] = "Edit UserModel";
}

<h2>Edit User</h2>

<div class="row">
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">There were some problems:</div>

            @Html.EditorForModel()

            <button class="btn btn-primary" type="submit">Save Changes</button>
        </form>
    </div>
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">Have a look at this:</div>

            @Html.FormGroupFor(m => m.Id)
            @Html.FormGroupFor(m => m.RandomId)
            <f-form-group for="FirstName" />

            @Html.FormGroupFor(m => m.LastName)
            @Html.FormGroupFor(m => m.Email)
            @Html.FormGroupFor(m => m.HomeAddress.Street1)
            <f-form-group for="HomeAddress.City" />
            @Html.FormGroupFor(m => m.Password)
            @Html.FormGroupFor(m => m.Tags)
            @Html.FormGroup("Rating")

            <div class="form-group">
                @Html.LabelFor(m => m.Tags)
                @Html.CheckboxListFor(m => m.Tags, Html.GetEnumSelectList<Gender>())
                @Html.ValidationMessageFor(m => m.Tags)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Gender)
                @Html.RadioButtonListFor(m => m.Gender, Html.GetEnumSelectList<Gender>())
                @Html.ValidationMessageFor(m => m.Gender)
            </div>

            <button class="btn btn-primary" type="submit">Save Changes</button>
        </form>

    </div>
</div>

@section scripts
{
    <partial name="_ValidationScripts" />
}
